<launch>
    <param name="/start_recording" type="bool" value="false" />
    <include file="$(find mbot_catching)/launch/exp.launch" />
    <include file="$(find mbot_catching)/launch/gui.launch" />
    <node name="rosbag_recorder" pkg="mbot_catching" type="rosbag_recorder.py" output="screen"/>
</launch>