<launch>\
    <arg name="x1" default="0.2"/>
    <arg name="y1" default="0.2"/>
    <arg name="z1" default="0"/>
    <arg name="robot_name" default="mbot" />
    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="$(arg robot_name)_description" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/xacro/mbot.urdf.xacro'" />
    <!-- <group ns="mbot1">
        
    </group> -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <group ns="camera">
        <include file="$(find camera_description)/launch/load_camera_gazebo.launch">
        </include>
    </group>
    
    <!-- <node name="gazebo_gui" pkg="gazebo_ros" type="gui" respawn="false" output="screen"/> -->
    <node name="$(arg robot_name)_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -model $(arg robot_name) -param $(arg robot_name)_description -x $(arg x1) -y $(arg y1) -z $(arg z1) -robot_namespace $(arg robot_name)"/>
</launch>