<launch>\
    <arg name="cam_x1" default="0"/>
    <arg name="cam_y1" default="0"/>
    <arg name="cam_z1" default="2"/>
    <arg name="camera_package_name" default="camera" />
    <arg name="camera_name" default="usb_camera" />



    <!-- <group ns="$(arg robot_name)"> -->
    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="$(arg camera_package_name)_description" command="$(find xacro)/xacro --inorder '$(find camera_description)/urdf/camera_gazebo.xacro' 
    camera_offset_x:=$(arg cam_x1), camera_offset_y:=$(arg cam_y1), camera_offset_z:=$(arg cam_z1)" />


    <!-- Run Gazebo and load the robot world -->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include> -->

    <!-- Spawn your robot in Gazebo -->
    <node name="$(arg camera_package_name)_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -model $(arg camera_name) -param $(arg camera_package_name)_description -robot_namespace $(arg camera_package_name)"/>
    <!-- </group> -->
</launch>